{% extends 'base.html' %}

{% block body %}

<div class="container">

  <!-- View over the options -->
  <div class="col-lg-2">


    <div class="row">
      <div class="col-lg-12">
        <h3>Create a new Measurement</h3>
        <div class="btn-group-vertical" style="width: 180px;" role="group" aria-label="...">

          <button type="button" class="btn btn-default"
                  onclick="location.href = '{% url 'climaticmeasurement:create_cm_bymcps' %}';">
                  MCPS File</button>

          <button type="button" class="btn btn-default"
                  onclick="location.href = '#';">
                  on the Fly </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h3> View </h3>
        <div class="btn-group-vertical" style="width: 180px;" role="group" aria-label="...">

          <button type="button" class="btn btn-default"
                  onclick="location.href = '{% url 'climaticmeasurement:show_all_climaticmeasurements'%}';">
                  all Climatic m</button>

          <button type="button" class="btn btn-default"
                  onclick="location.href = '#';">
                  add a to group</button>

          <button type="button" class="btn btn-default"
                  onclick="location.href = '#';">
                  view group</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h3>Admin</h3>
        <div class="btn-group-vertical" style="width: 180px;" role="group" aria-label="...">
          <p>Create Forms:</p>
          <p><a href="#">Test Load</a></p>
          <p><a href="#">Ambient Temperature</a></p>
        </div>
      </div>
    </div>




  </div>

  <!-- place for the views -->
  <div class="col-lg-10">

    {% block climaticmeasurement_body %}

    {% endblock %}

  </div>

</div>

{% endblock %}
