{% extends 'base.html' %}

{% block body %}

<div class="container">

  <!-- View over the options -->
  <div class="col-lg-2">


    <div class="row">
      <div class="col-lg-12">
        <h3>Milestones</h3>
        <div class="btn-group-vertical" style="width: 180px;" role="group" aria-label="...">
          <button type="button" class="btn btn-default" onclick="location.href = '{% url 'planner:index' %}';">
            1</button>
          <button type="button" class="btn btn-default" onclick="location.href = '{% url 'planner:create_schedule' %}';">
            2</button>
          <button type="button" class="btn btn-default" onclick="location.href = '{% url 'planner:schedule_list' %}';">
            3</button>
          <button type="button" class="btn btn-default" onclick="location.href = '#';">
            <strike>Chassis Characteristic</strike></button>
          <button type="button" class="btn btn-default" onclick="location.href = '#';">
          <strike>  RV</strike></button>
        </div>
      </div>
    </div>
  </div>

  <!-- place for the views -->
  <div class="col-lg-10">

    {% block milestones_body %}

    {% endblock %}

  </div>

</div>

{% endblock %}
