{% extends 'measurement/__base_measurement_climatic.html' %}

{% block measurement_climatic_body %}

<!-- Alert Boxen -->
<div class="row">
  <div class="col-lg-12">
    {% if alert_danger_avalible == True %}
      <div class="alert alert-danger" role="alert">
        <p> {{ alert_danger }} </p>
      </div>
    {% endif %}
    {% if alert_success_avalible == True %}
      <div class="alert alert-success" role="alert">
        <p> {{ alert_success }} </p>
      </div>
    {% endif %}
  </div>
</div>


<!-- Component Detail Box -->
<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> {{panel_titel}} </h3>
      </div>
      <div class="panel-body">
        <!-- Measurement Information -->
        <div class="col-lg-12">
          <p>Measurement:           {{climatic_measurement.name }} -   ID: {{climatic_measurement.measurement_id }}</p>
          <p>AmbientTemp:           {{climatic_measurement.AmbientTemp }}°C </p>
          <p>TestLoad:              {{climatic_measurement.TestLoad }} </p>
          <p>TestLoad Info:         {{climatic_measurement.TestLoad.info }} </p>
          <p>Measurement is PASS?:  {{climatic_measurement.measurement_is_pass}}</p>
          <p>Measurement Type:      {{climatic_measurement.measurement_type }}</p>
          <hr>
          <p>Measurement Pbulic: {{climatic_measurement.public}}</p>
          <hr>
          <p>Sensor Type List avalible: {{climatic_measurement.sensortypeList_avalible}}</p>
          <p>Sensor Type List : {{climatic_measurement.sensorTypeList.name}} - {{climatic_measurement.sensorTypeList.user_creation}} </p>
          <hr>
          <p>Information:</p>
          <textarea name="Text1" cols="80" rows="10">{{climatic_measurement.information}}</textarea>
          <hr>
          <p>Creation: {{climatic_measurement.date_creation}} - {{climatic_measurement.user_creation}}</p>
          <p>Update:   {{climatic_measurement.date_update}} - {{climatic_measurement.user_update}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> Options </h3>
      </div>
      <div class="panel-body">
        <p>Change <a href="#">Result</a></p>
        <p>Change <a href="#">Publication</a></p>
        <p>Change <a href="#">Information</a></p>
        <hr>
        <p>Update <a href="#">Measurement</a></p>
      </div>
    </div>
  </div>
</div>



<!-- Climatic Measurement Table -->
<div class="row">
  <div class="col-lg-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Max</th>
          <th>Value</th>
          <th>Diff</th>
        </tr>
      </thead>
      <tbody>
        {% for item in obj.table_rows  %}
          {% if item.diff <= 0 %}
            <tr class="warning">
          {% endif %}
          {% if item.diff > 0 %}
            <tr class="success">
          {% endif %}
              <td>{{ item.name }}</td>
              <td>{{ item.valuemax }}</td>
              <td>{{ item.value }}</td>
              <td>{{ item.diff }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
