<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title> SeeN </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <style>
      body{ font-family: 'Inconsolata', monospace; }
    </style>

    <!-- Script for the Watch in the Navigation bar -->
    <script type="text/javascript">

      function start() {
          time();
          window.setInterval("time()", 1000);
      }
      function time() {
          var now = new Date();
          hours = now.getHours();
          minutes = now.getMinutes();
          seconds = now.getSeconds();


          thetime = (hours < 10) ? "0" + hours + ":" : hours + ":";
          thetime += (minutes < 10) ? "0" + minutes + ":" : minutes + ":";
          thetime += (seconds < 10) ? "0" + seconds : seconds;

          element = document.getElementById("time");
          element.innerHTML = thetime;
      }
    </script>

  </head>

  <body onload="start();">


    <div class="col-lg-12">
      <nav class="navbar navbar-default">
        <div class="countainer-fluid">
          <!-- Header -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
              <span class ="icon-bar"> </span>
              <span class ="icon-bar"> </span>
              <span class ="icon-bar"> </span>
            </button>
            <a class="navbar-brand" href="{% url 'overview:home' %}"> SeeN (&empty; 21) </a>
          </div>
          <!-- Items -->
          <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
              <li><a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                Analyser</a></li>
              <li><a href="{% url 'climaticmeasurement:index' %}"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>&nbsp;
                Climaticmeasurements</a></li>
              <li><a href="{% url 'eut:index' %}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;
                EUTs</a></li>
              <li><a href="{% url 'system:system_index' %}"><span class="glyphicon glyphicon-object-align-bottom" aria-hidden="true"></span>&nbsp;
                Systems</a></li>
              <li><a href="{% url 'components:index' %}"><span class="glyphicon glyphicon-object-align-bottom" aria-hidden="true"></span>&nbsp;
                Components</a></li>
              <li><a href="{% url 'todos:main' %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                ToDo's</a></li>
              <li><a href="{% url 'schedule:index' %}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
                Schedule</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>&nbsp;
                <span  id="time"></a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  User <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                    User Logout</a></li>
                  <li><a href="{% url 'accounts:register' %}"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>&nbsp;
                    User Register</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">
                    User Settings</li>
                  <li><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                    Account settings</a></li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    {% block body %}
    {% endblock %}


  </body>

</html>
