{% extends 'planner/__base_.html' %}

{% block planner_body %}

{% if schedule_item.main_connection_avalible == False %}
  <script type="text/javascript">
      $(window).on('load',function(){
          $('#myModal').modal('show');
      });
  </script>
{% endif %}

{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message | safe}}
  </div>
{% endfor %}







<!-- Modal add System and Component -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#main_conni_system">System</a></li>
        <li><a data-toggle="tab" href="#main_conni_component">Component</a></li>
      </ul>

      <div class="tab-content">
        <div id="main_conni_system" class="tab-pane fade in active">
          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Use a System for main connection</h4>
            </div>
            <div class="modal-body">
              {% for field in form_class_schedule_system_connection %}

                <div class="form-group">
                  <div class="col-lg-offset-1 col-lg-4">
                    <label class="control-label">{{ field.label_tag }}</label>
                  </div>
                  <div class="col-lg-6">{{ field}}</div>
                  <div class="col-lg-1">
                    <span class="text-danger small">{{ field.errors }}</span>
                  </div>
                </div>

              {% endfor %}
            </div>
            <div class="modal-footer">
              <div class="form-group">
                <div class="col-lg-offset-1 col-lg-2">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <div class="col-lg-offset-6 col-lg-3">
                  <button type="submit" class="btn btn-success">OK</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div id="main_conni_component" class="tab-pane fade">
          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Use a Component for main connection</h4>
            </div>
            <div class="modal-body">
              {% for field in form_class_schedule_component_connection %}

                <div class="form-group">
                  <div class="col-lg-offset-1 col-lg-4">
                    <label class="control-label">{{ field.label_tag }}</label>
                  </div>
                  <div class="col-lg-6">{{ field}}</div>
                  <div class="col-lg-1">
                    <span class="text-danger small">{{ field.errors }}</span>
                  </div>
                </div>

              {% endfor %}
            </div>
            <div class="modal-footer">
            <div class="form-group">
              <div class="col-lg-offset-1 col-lg-2">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              <div class="col-lg-offset-6 col-lg-3">
                <button type="submit" class="btn btn-success">OK</button>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Component Detail Box -->
<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"> {{ panel_titel }} </h3>
      </div>
      <div class="panel-body">
        <p>Name:            {{schedule_item.name}}</p>
        <p>Creation:        {{schedule_item.user_creation}} - {{schedule_item.date_creation}}</p>
        <p>Update:          {{schedule_item.user_update}}   - {{schedule_item.date_update}}</p>
        <p>public:          {{schedule_item.public}}</p>
        <p>Main connection: {{schedule_item.main_connection_avalible}}</p>
        <textarea name="Text1" cols="40" rows="5">{{schedule_item.information}}</textarea>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"> Options </h3>
      </div>
      <div class="panel-body">
        <div class="btn-group-vertical" style="width: 180px;" role="group" aria-label="...">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
            Add System or Component
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- List of (schedule <-> system) - connection -->
<div class="row">

</div>

<!-- List of (schedule <-> component) - connection -->
<div class="row">

</div>

<!-- List of (schedule <-> schedule_item) - connection -->
<div class="row">

</div>

{% endblock %}
