{% extends 'planner/__base_.html' %}

{% block planner_body %}

<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>


<script>
  var table = $(document).ready(function(){
      $('#table_schedule_liste').DataTable();
  });
</script>



  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"> {{ panel_titel }} </h3>
        </div>
        <div class="panel-body">

          <div class="table-responsive">
            <table id="table_schedule_liste" class="table table-bordered">
              <thead>
                <tr class="warning">
                  <td>ID</td>
                  <td>Name</a></td>
                  <th>Date creation</th>
                  <th>Date update</th>
                  <th>User creation</th>
                  <th>User update</th>
                  <th>public</th>
                </tr>
              </thead>
              <tbody>
                {% for item in schedule_list %}
                  <tr>
                    <td>{{ item.id }}</td>
                    <td><a href="{% url 'planner:schedule_detail' item.id %}">{{item.name}}</a></td>
                    <td>{{ item.date_creation }}</td>
                    <td>{{ item.date_update }}</td>
                    <td>{{ item.user_creation }}</td>
                    <td>{{ item.user_update }}</td>
                    <td>{{ item.public }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
