{% extends 'system/base_system.html' %}

{% block system_body %}

<!-- system detail Headline -->
<div class="row">
  <div class="col-lg-12">
    <h1>{{panel_titel}}</h1>
  </div>
</div>

<!-- Alert Boxen -->
<div class="row">
  <div class="col-lg-12">
    {% if alert_danger_avalible == True %}
      <div class="alert alert-danger" role="alert">
        <p> {{ alert_danger }} </p>
      </div>
    {% endif %}
    {% if alert_success_avalible == True %}
      <div class="alert alert-success" role="alert">
        <p> {{ alert_success }} </p>
      </div>
    {% endif %}
  </div>
</div>

<!-- Component Detail Box -->
<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Component: [ {{ system.name }} ] ({{system.id}})</h3>
      </div>
      <div class="panel-body">
        <p>Name: {{system.name}}</p>
        <p>Model: {{system.model.name}}</p>
        <p>Owner: {{system.owner}}</p>
        <p>Ownwer Co: {{system.owner_co}}</p>
        <p>Informations: </p>
        <textarea name="Text1" cols="70" rows="10">{{system.info}}</textarea>
        <h3> MS Connections: </h3>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr class="warning">
                <td>Milestone</td>
                <td>System</td>
                <td>Date</td>
                <td>Delete</td>
              </tr>
            </thead>
            <tbody>
              {% for item in msdbconnection_list %}
                <tr>
                  <th>{{ item.milestone }}</th>
                  <th>{{ item.system.name }}</th>
                  <th>{{ item.creation_date }}</th>
                  <th><a href="{% url 'system:delete_msdb_connection' item.id %}">
                    <span class="glyphicon glyphicon-trash">(id - {{item.id}})</span>
                  </a></th>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">System Options</h3>
      </div>
      <div class="panel-body">
        <div class="btn-group-vertical" style="width: 180px;" role="group" aria-label="...">
          <h3>System Details</h3>
          <button type="button" class="btn btn-default" onclick="location.href = '{% url 'system:update_system' system.id %}';">
            Update System Details
          </button>

          <h3>Milestones</h3>
          <button type="button" class="btn btn-default" onclick="location.href = '{% url 'system:create_ms_connection_from_system' system.id %}';">
            Add a Milestone
          </button>

          <h3>Components</h3>
          <button type="button" class="btn btn-default" onclick="location.href = '{% url 'system:create_component_connection' system.id %}';">
            Add a Component
          </button>

        </div>
      </div>
    </div>
  </div>
</div>


<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script>
  var table = $(document).ready(function(){
      $('#system_component_connection_table').DataTable();
  });
</script>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Components from the System</h3>
      </div>
      <div class="panel-body">

        <div class="table-responsive">
          <table id="system_component_connection_table" class="table table-bordered">
            <thead>
              <tr class="warning">
                <th>System</th>
                <th>component_count</th>
                <th>component</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for item in system_component_connection_list %}
                <tr>
                  <th>{{ item.system }}</th>
                  <th>{{ item.component_count }}</th>
                  <th>{{ item.component }}</th>
                  <th><a href="{% url 'system:delete_component_connection' item.id %}">
                    <span class="glyphicon glyphicon-trash"> (id - {{item.id}}) </span>
                  </a></th>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>






<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  google.charts.setOnLoadCallback(drawChart2);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['EMI',     11],
      ['Climatic',      2],
      ['Meachanic',  2],
      ['AirFlow', 2],
      ['Chassis Charakter',7]
    ]);

    var options = {
      title: 'System Measurements'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_systemmeasurements'));

    chart.draw(data, options);
  }

  function drawChart2() {

    var data = google.visualization.arrayToDataTable([
      ['Component', 'number of Component'],
      ['Chassis',     {{anzahl_system_comp_Chassis}} ],
      ['CPU',         {{anzahl_system_comp_ChassisAddOn}}],
      ['Motherboard', {{anzahl_system_comp_Motherboard}}],
      ['CPU',         {{anzahl_system_comp_Cpu}}],
      ['Memory',      {{anzahl_system_comp_Memory}}],
      ['PSU',         {{anzahl_system_comp_PSU}}],
      ['HDD',         {{anzahl_system_comp_HDD}}],
      ['HeatSink',    {{anzahl_system_comp_HeatSink}}],
      ['Fan',         {{anzahl_system_comp_Fan}}],
      ['Cable',       {{anzahl_system_comp_Cable}}],
      ['PCBA',        {{anzahl_system_comp_PCBA}}],
      ['PCIe',        {{anzahl_system_comp_PCIe}}]
    ]);

    var options = {
      title: 'System Components'
    };

    var chart = new google.visualization.PieChart(document.getElementById('systemcomponentes'));

    chart.draw(data, options);
  }

</script>





<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">System Measurements</h3>
      </div>
      <div class="panel-body">


        <div id="piechart_systemmeasurements" style="width: 400px; height: 400px;"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">System Components</h3>
      </div>
      <div class="panel-body">
        <div id="systemcomponentes" style="width: 400px; height: 400px;"></div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Admin Options</h3>
      </div>
      <div class="panel-body">
        <p><a href="{% url 'system:delete_system' system.id %}"> Delete this System</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
