{% extends 'components/base_components.html' %}

{% block components_body %}

  <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
  <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

  <h1> Component List View html </h1>

  <script>
    var table = $(document).ready(function(){
        $('#ddddd').DataTable();
    });
  </script>

  <div class="table-responsive">
    <table id="ddddd" class="table table-bordered">
      <thead>
        <tr class="warning">
          <td>ID</td>
          <td>Name</a></td>
          <td>Type</td>
          <td>Delivery Date</td>
          <td>Vendor</td>
          <th>Date creation</th>
          <th>Date update</th>
          <th>User creation</th>
          <th>User update</th>
        </tr>
      </thead>
      <tbody>
        {% for item in component_list %}
          <tr>
            <td>{{ item.component_id }}</td>
            <td><a href="{% url 'components:component_detail' item.component_id %}">{{ item.name }}</a></td>
            <td>{{ item.component_type_text }}</td>
            <td>{{ item.delivery_date}}</td>
            <td>{{ item.vendor.name }}</td>
            <th>{{ item.date_creation }}</th>
            <th>{{ item.date_update }}</th>
            <th>{{ item.user_creator }}</th>
            <th>{{ item.user_updater }}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}
