

accounts/__pycache__/
accounts/migrations/
climaticmeasurement/__pycache__/
climaticmeasurement/migrations/

measurement/__pycache__/
measurement/migrations/
measurement/models/__pycache__/
measurement/views/__pycache__/


components/__pycache__/
components/migrations/
eut/__pycache__/
eut/migrations/
overview/__pycache__/
overview/migrations/
schedule/__pycache__/
schedule/migrations/
system/__pycache__/
system/migrations/
taffwebapp/__pycache__/
taffwebapp/migrations/
todos/__pycache__/
todos/migrations/

db.sqlite3
