<!--
  Form for to Create a configuration
-->

{% extends 'base.html' %}

{% block body %}

<div class="container">
  <div class="row col-lg-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Create a new PCIe table</h3>
        <h3>OLD formular </h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">

          {% csrf_token %}
          {% include "todos/template_creation_formular.html" %}

          <div class="form-group">
            <div class="col-lg-offset-10 col-lg-2">
              <button type="submit" class="btn btn-success">Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row col-lg-offset-1 col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Create ohter objects</h3>
      </div>
      <div class="panel-body">
        <h3>OLD formular </h3>
        <p>
          Creata a new todo object :)
        </p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
