<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">ToDo Details: {{ object.id }}</h1>
        </div>
        <p/>
        <div class="panel-body">
          <div class="col-lg-12">
            <p>ID: {{ object.id }} </p>
            <p>name: {{ object.name }} </p>
            <p>status: {{ object.status }} </p>
            <p>system: {{ object.system }} </p>
            <p>priorityLevel: {{ object.priorityLevel }} </p>
            <p>creator: {{ object.creator }} </p>
            <p>createtion_date: {{ object.createtion_date }} </p>
            <p>priorityLevel: {{ object.priorityLevel }} </p>
            <p>status: {{ object.status }} </p>
            <p>must_done_msdb: {{ object.must_done_msdb }} </p>
            <p>must_done_date: {{ object.must_done_date }} </p>
            <textarea name="Text1" cols="40" rows="5">{{ object.text }}</textarea>

          </div>
          <div class="col-lg-2">
            <form action="{% url 'todos:todos_update' object.id %}">
              <button type="submit" class="btn btn-success">Update</button>
            </form>
          </div>
          <div class="col-lg-8">

          </div>
          <div class="col-lg-2">
            <form action="{% url 'todos:todos_delete' object.id %}">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
