<!--
 ''''''''''''''
  HTML File
 '''''''''''''''
    - with two tabels
      - Todo allocated - Items Status OPEN
      - Todo allocated - Items Status DONE
    - and a .js script for dataTables

-->

{% extends 'todos/base_todo.html' %}

{% block todo_body %}

<!--  Includes
       - these stylesheets and scripts are nessesary for the dataTables view
       - with theses scripts you can search throgh the tabel or sort it by name
       - for more information visit: https://datatables.net/
-->
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>


<!--  Script for the data table view
        for table #9993293223 -->
<script>
  $(document).ready(function(){
      $('#9993293223').DataTable();
  });
</script>

<!--  Tabel panel -->
<!--  Todo allocated - Items Status OPEN -->
<div class="panel panel-warning">
  <div class="panel-heading">
    <h1 class="panel-title">Todo Objects</h1>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="9993293223" class="table table-bordered">
        <thead>
          <tr class="warning">
            <th>Todo ID</th>
            <th>todo</th>
            <th>user</th>
            <th>must done date</th>
            <th>status_done</th>
          </tr>
        </thead>
        <tbody>

            {% for item in todo_list %}

                {% if item.status_done %}

                  <tr class="success">

                {% else %}

                  <tr class="danger">

                {% endif %}

                  <td>{{ item.id }}</td>
                  <td>{{ item.todo }}</td>
                  <td>{{ item.user.username }}</td>
                  <td>{{ item.must_done_date }}</td>
                  <td>{{ item.status_done }}</td>
                </tr>

            {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}
